
<h1>Meals</h1>

<div class='search-feedback'>
<div><p>We found <%= @meals.count %> meals for sale from chefs in your local area!</p></div>
</div>


<div class="cards">
  <% @meals.each do |meal| %>
    <div class="card-meal">
      <%= link_to show_meal_path(meal) do %>
        <%= image_tag("http://lorempixel.com/400/300/food/#{meal.id % 10}") %>
      <% end %>
      <div class="card-meal-descr">
        <div class="text">
          <h3><%= meal.name %></h3>
          <p><%= meal.description %></p>
        </div>
        <h2 class="card-meal-pricing"><%= meal.price%></h2>
      </div>
    </div>
  <% end %>
</div>
