<div class="cards">
  <% @meals.each do |meal| %>
    <div class="card-meal">
      <%= link_to show_meal_path(meal) do %>
        <%= cl_image_tag("http://lorempixel.com/400/300/food/#{meal.id % 10}") %>
        <%# <%= cl_image_tag "http://picsum.photos/400/300/?random=#{meal.id}"%>
      <% end %>
      <div class="card-meal-descr">
        <div class="text">
          <h3><%= meal.name %></h3>
          <p><%= meal.description %></p>
        </div>
        <h2 class="card-meal-pricing"><%= meal.price%></h2>
      </div>
    </div>
  <% end %>
</div>
  <%= link_to 'Add a new meal', new_meal_path, class: "btn btn-flat m-3" %>
