<div class="card-trip text-center">
  <h2><%= @meal.id %>.</h2>
   <%= link_to 'Back', meals_path %> 
  <img src="https://picsum.photos/400/300/?random=<%= @meal.id %>"/>
    <%= link_to 'Quantity', meals_path %> 
    <%= link_to 'Cancel', meals_path %> 
  <h2><%= @meal.description %></h2>
  <h2>£<%= @meal.price %></h2>
</div>
