<div class="card-trip flex " >
  <%= cl_image_tag("http://lorempixel.com/400/300/food/?random=sok0qq3xyf6cmfpnlgsp.jpg")%>
  <%# <img src="http://lorempixel.com/400/300/food/?random=<%= @meal.id %>
  <h1><%= @meal.description %></h1>
  <h1>£<%= @meal.price %></h1>
  <%= link_to 'Back', meals_path, class: "btn btn-flat m-3" %>
  <%= link_to 'Purchase', new_purchase_path, class: "btn btn-flat m-3"%>
</div>
