<div class="card-trip flex " >
  <%= image_tag "http://lorempixel.com/400/300/food/?random=#{meal.id}" %>
  <%# <h1><%= @meal.name  </h1>%>
  <h3><%= @meal.description %></h3>
  <h1>£<%= @meal.price %></h1>
  <div class="positioning-text">
    <%= link_to 'Back', back_path, class: "btn btn-flat " %>
    <%= link_to 'Purchase', new_purchase_path, class: "btn btn-flat "%>
  </div>
</div>

