<div class="card-trip flex " >
  <img src="http://lorempixel.com/400/300/food/?random=<%= @meal.id %>"/>
  <div>
  <h1><%= @meal.name %></h1>
  <h3><%= @meal.description %></h3>
  </div>
  <h1>£<%= @meal.price %></h1>
  <%= link_to 'Back', meals_path, class: "btn btn-flat m-3" %>
  <%= link_to 'Purchase', new_purchase_path, class: "btn btn-flat m-3"%>
</div>

